* {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   box-sizing: border-box;
}

h1{
   padding: 2rem;
   font-size: 3rem;
}
a{
   font-size: 1.5rem;
   text-decoration: none;
   padding: 30px;
}

body header nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 10px 10px;
}

body header nav a{
    display: inline-block;
    padding: 10px;
    margin:0 2rem 0 2rem;
    text-align:center;
}

header a:hover {
   border: white 2px solid;
   border-radius: 20px; 
   background-color: lightgrey;
   cursor:pointer;
}
 .foto_portada{
   margin: 10px;
   border-radius: 5px;
 }

 #contenedor con-sidebar{
    background-image: url(./assets/imagenes/zapallitos.jpg);
    background-position: center;
}
 .comentario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 3px solid lightblue;
    border-radius: 20px;
    width: 80%;
    background-color:rgb(206, 230, 222);
    margin: 5% 10% 5%;

 }


 
header, footer{
   background-color: lightblue;
   border-radius: 0.5rem;
   color: beige;
   text-align: center;
}


@media (min-width: 480px) {
   .con-sidebar {
       display: grid;
       grid-template-columns: 1fr 5fr;
       column-gap: 4rem;
   }
}