* {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   box-sizing: border-box;
}

h1{
   padding: 2rem;
   font-size: 3rem;
   text-align: center;
   color: beige;
   background-color: rgb(110, 200, 64);
}
h2{
   background-color:rgb(110, 200, 64);
   color: rgb(78, 35, 35);
}

.animacion {
  width: 5%;
  height: 2vh;
  background: rgb(110, 200, 64);
  transition: width 2s, height 2s,background 2s;
}

.animacion :hover {
  width: 100%;
  height: 10vh;
  background: rgb(78, 35, 35);
}

a{
   font-size: 1.2rem;
   text-decoration: none;
   padding: 10px;
   color: rgb(78, 35, 35);
}

#navBarId{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    padding: 10px 10px;
}



a:hover {
   text-decoration: underline;
   color: rgb(78, 35, 35);
   cursor:pointer;
}
 .foto_portada{
   margin: 10px;
   border-radius: 5px;
 }

 .contenedor_con-sidebar{
   display: flex;
   flex-wrap: wrap;
   flex: 1 1 auto;
   padding: 10px;
   width: 80%;
   margin: 2vh 10%;

}
 .comentario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 3px solid rgb(110, 200, 64);
    border-radius: 20px;
    width: 80%;
    background-color:rgb(110, 200, 64);
    margin: 5% 10% 5%;

 }


 
header, footer{
   background-color: rgb(110, 200, 64);
   color: rgb(237, 237, 175);
   text-align: center;
}


@media (min-width: 480px) {
   .con-sidebar {
       display: grid;
       grid-template-columns: 1fr 5fr;
       column-gap: 4rem;
   }
}
.formulario
 .carrousel{
    margin: 1rem;
    border : var(--border)

    }
   
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #2196F3;
      padding: 10px;
     
    }
    
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
      
    }   